@using NHOM9WEB.Areas.Admin.Models;
@model IList<AdminMenu>
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                <div class="nav-profile-image">
                    <img src="~/admin/assets/images/faces/face1.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    <span class="font-weight-bold mb-2">David Grey. H</span>
                    <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        @foreach(var item in Model.Where(m=>m.ItemLevel==1).OrderBy(n=>n.ItemOrder)) {
            var Pid = item.AdminMenuId;
            var Smenu = Model.Where(p => p.ParentLevel == Pid).OrderBy(p => p.ItemOrder).ToList();
            <li class="nav-item">
                <a class="nav-link" data-bs-targot="@item.ItemTarget" data-bs-toggle="collapse" href="#" aria-expanded="true" aria-controls="ui-basic">
                    <span>@item.ItemName</span>
                    <i class="@item.Icon"><i class="mdi mdi-crosshairs-gps menu-icon"></i>
                </a>
                <div >
                    <ul id="@item.IdName" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        @foreach (var smn in Smenu) {
                            <li>
                                <a href="/Admin/@smn.ControllerName/@smn.ActionName">
                                    <i class="billing_details bi-circle"></i>
                                    <span>@smn.ActionName</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>

            </li>

        }
        <li class="nav-item sidebar-actions">
            <span class="nav-link">
                <div class="border-bottom">
                    <h6 class="font-weight-normal mb-3">Projects</h6>
                </div>
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>
                <div class="mt-4">
                    <div class="border-bottom">
                        <p class="text-secondary">Categories</p>
                    </div>
                    <ul class="gradient-bullet-list mt-4">
                        <li>Free</li>
                        <li>Pro</li>
                    </ul>
                </div>
            </span>
        </li>
    </ul>
</nav>
