@model NHOM9WEB.Models.TbProduct

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    <h1>Chi tiết sản phẩm</h1>
    <hr />

    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Title</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Alias</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Alias)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Detail</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Detail)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Image</label>
            <div class="col-sm-10">
                <img src="                @Html.DisplayFor(model => model.Image)
" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Price</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">PriceSale</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.PriceSale)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Quantity</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Created Date</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedDate)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Created By</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.CreatedBy)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Modified Date</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedDate)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Modified By</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ModifiedBy)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Is New</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.IsNew)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Is Best Seller</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.IsBestSeller)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Unit In Stock</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.UnitInStock)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Is Active</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.IsActive)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Category Product</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryProduct.CategoryProductId)
            </div>
        </div>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.ProductId" class="btn btn-gradient-dark btn-icon-text">
                Sửa <i class="mdi mdi-file-check btn-icon-append"></i>
            </a> |
            <a asp-action="Index" class="btn btn-gradient-primary btn-fw">
                <i class="mdi mdi-arrow-left-bold-circle-outline"></i> Trở về
            </a>
        </div>
    </form>
</div>
