@model NHOM9WEB.Models.TbBlog;
@using NHOM9WEB.Utilities;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<TbBlogComment> blogComment = ViewBag.blogComment;
}
<!--================Blog Area =================-->
<section class="blog_area single-post-area padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="feature-img">
                        <img class="img-fluid" src="@Model.Image" alt="">
                    </div>
                    <div class="blog_details">
                        <h2>
                            @Html.DisplayFor(model=>model.Title)
                        </h2>
                        <ul class="blog-info-link mt-3 mb-4">
                            <li><a href="#"><i class="far fa-user"></i> @Model.CreatedBy</a></li>
                            <li><a href="#"><i class="far fa-comments"></i> @blogComment.Count() Comments</a></li>
                        </ul>
                        <p class="excert">
                            @Html.Raw(Model.Detail)
                        </p>
                    </div>
                </div>
                <div class="navigation-top">
                    <div class="d-sm-flex justify-content-between text-center">
                        <div class="col-sm-4 text-center my-2 my-sm-0">
                            <!-- <p class="comment-count"><span class="align-middle"><i class="far fa-comment"></i></span> 06 Comments</p> -->
                        </div>
                        <ul class="social-icons">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                        </ul>
                    </div>
                </div>
                @foreach (var item in blogComment) {

                    @if (item.IsActive==true) {
                        <div class="blog-author">
                            <div class="media align-items-center">
                                <img src="img/blog/author.png" alt="">
                                <div class="media-body">
                                    <a href="#">
                                        <h4>@item.Name</h4>
                                    </a>
                                    <p>
                                        @item.Detail
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
                <div class="comments-area">
                </div>
                <div class="comment-form">
                    <h4>Leave a Reply</h4>
                    <form class="form-contact contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">

                                    <textarea class="form-control w-100" name="message" id="c_message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder="Enter Message"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">

                                    <input class="form-control" name="name" id="c_name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input class="form-control" name="email" id="c_email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'" placeholder="Enter email address">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" name="phone" id="c_phone" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your phone'" placeholder="Enter your phone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <button id="c_submit" type="button" value="submit" class="btn_3 button-contactForm" name="submit">Send Message</button>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget search_widget">
                        <form action="#">
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                    <div class="input-group-append">
                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1" type="submit">Search</button>
                        </form>
                    </aside>
                    <aside class="single_sidebar_widget post_category_widget">
                        <h4 class="widget_title">Category</h4>
                        <ul class="list cat-list">
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Resaurant food</p>
                                    <p>(37)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Travel news</p>
                                    <p>(10)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Modern technology</p>
                                    <p>(03)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Product</p>
                                    <p>(11)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Inspiration</p>
                                    <p>(21)</p>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="d-flex">
                                    <p>Health Care</p>
                                    <p>(21)</p>
                                </a>
                            </li>
                        </ul>
                    </aside>
                    @await Component.InvokeAsync("RecentPost")
   
                    <aside class="single_sidebar_widget tag_cloud_widget">
                        <h4 class="widget_title">Tag Clouds</h4>
                        <ul class="list">
                            <li>
                                <a href="#">project</a>
                            </li>
                            <li>
                                <a href="#">love</a>
                            </li>
                            <li>
                                <a href="#">technology</a>
                            </li>
                            <li>
                                <a href="#">travel</a>
                            </li>
                            <li>
                                <a href="#">restaurant</a>
                            </li>
                            <li>
                                <a href="#">life style</a>
                            </li>
                            <li>
                                <a href="#">design</a>
                            </li>
                            <li>
                                <a href="#">illustration</a>
                            </li>
                        </ul>
                    </aside>
                    <aside class="single_sidebar_widget instagram_feeds">
                        <h4 class="widget_title">Instagram Feeds</h4>
                        <ul class="instagram_row flex-wrap">
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_5.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_6.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_7.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_8.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_9.png" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="img-fluid" src="img/post/post_10.png" alt="">
                                </a>
                            </li>
                        </ul>
                    </aside>
    
                    <input type="hidden" id="blog_id" value="@Model.BlogId" />

                    <aside class="single_sidebar_widget newsletter_widget">
                        <h4 class="widget_title">Newsletter</h4>
                        <form action="#">
                            <div class="form-group">
                                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
                            </div>
                            <button class="button rounded-0 primary-bg text-white w-100 btn_1"
                                    type="submit">
                                Subscribe
                            </button>
                        </form>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!-- Thêm toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />

    <!-- Thêm toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#c_submit").click(function () {
                _id = $("#blog_id").val();
                _name = $("#c_name").val();
                _phone = $("#c_phone").val();
                _email = $("#c_email").val();
                _message = $("#c_message").val();
                $.ajax({
                    url: "/Home/Create",
                    type: "POST",
                    data: { id: _id, name: _name, phone: _phone, email: _email, message: _message },
                    success: function (result) {
                        if (result != null) {
                            $("#c_name").val("");
                            $("#c_phone").val("");
                            $("#c_email").val("");
                            $("#c_message").val("");
                            _date = Untils.getCurrentDate();
                            toastr.success('Gửi thành công');
                            _sHtml = '<div class="blog-comment-item mb-8"> <div class="blog-comment-img"> <img src="~/assets/images/avatar/1.jpg" alt="Avatar"> </div> <div class="blog-comment-content"> <div class="user-meta"> <span><strong>' + _name + ' -</strong> ' + _date + '</span> <a class="btn btn-link hover-white d-none d-md-flex" href="javascript:void(0)"> <i class="fa fa-reply me-2"></i> Reply </a> </div> <p class="user-comment mb-0">' + _message + '</p> <a class="btn btn-link hover-white d-inline-flex d-md-none mt-5" href="javascript:void(0)"> <i class="fa fa-reply me-2"></i> Reply </a> </div> </div>';
                            $("#blog_comment").append(_sHtml);
                        }
                        else {
                            toastr.success('Gửi không thành công');
                        }
                    }
                })
            });
        })
    </script>
                    }
<!--================Blog Area end =================-->