@using NHOM9WEB.Utilities;
@using NHOM9WEB.Models.ViewModel;
@model CartItemViewModel
<section class="cart_area padding_top">
    <div class="container">
        @if (Model.CartItems.Count() > 0) {
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
 
                            @foreach(var item in Model.CartItems) {
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="@item.Image" alt="">
                                            </div>
                                            <div class="media-body">
                                                <p>@item.ProductName</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>@Functions.ToVnd((double)item.Price)</h5>
                                    </td>
                                    <td>

                                        <!-- Include this div for displaying the alert -->
                                        <div id="custom-alert" class="alert notification">
                                            <span id="custom-alert-message"></span>
                                        </div>

                                        <!-- Your HTML for cart actions -->
                                        <a class="btn btn-default btn-sm decrease-btn" asp-controller="Cart" asp-action="Decrease" asp-route-Id="@item.ProductId">-</a>
                                        <input class="input-number" type="text" name="quantity" value="@item.Quantity" min="0" max="10">
                                        <a class="btn btn-success btn-sm increase-btn" asp-controller="Cart" asp-action="Increase" asp-route-Id="@item.ProductId">+</a>
                                        <a class="btn btn-success btn-sm remove-btn"
                                           asp-controller="Cart"
                                           asp-action="Remove"
                                           asp-route-Id="@item.ProductId"
                                           onclick="return confirmDelete('@item.ProductId')">Xóa</a>
                                    <td>
                                        <h5>@Functions.ToVnd((double)Model.CartItems.Where(x=>x.ProductId==item.ProductId).Sum(x=>x.Quantity*x.Price))</h5>
                                    </td>
                                </tr>
                                }
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5 style="color: #333; font-size: 1.2em;">Tổng tiền</h5>
                            </td>
                            <td>
                                <h5 style="color: #e44d26; font-size: 1.5em; font-weight: bold;">@Functions.ToVnd((double)Model.GrandTotal)</h5>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="checkout_btn_inner float-right">
                    <a class="btn_1" href="#">Tiếp tục mua hàng</a>
                    <a id="btnCheckout" class="btn_1 checkout_btn_1" asp-controller="Cart" asp-action="Checkout">Mua hàng</a>
                </div>
            </div>
        </div>
        }
        else {
            <p class="alert alert-danger">Giỏ hàng trống</p>
        }
    </div>
</section>
@section Scripts{
    <script>
        function confirmDelete(productId) {
            var result = confirm("Bạn có chắc chắn muốn xóa sản phẩm này?");

            if (result) {
                window.location.href = '/Cart/Remove/' + productId + '?confirmDelete=true';
            } else {
                window.location.href = '/Cart/Remove/' + productId + '?confirmDelete=false';
            }

            return false;
        }
    </script>

}