@model NHOM9WEB.Models.TbMenu

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="card-body">
    <h1>Chi tiết danh mục</h1>
    <hr />

    <form>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.MenuName)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Active</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.IsActive)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Controller Name</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ControllerName)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Action Name</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ActionName)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Levels</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Levels)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Parent Id</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.ParentId)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Link</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Link)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Menu Order</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.MenuOrder)
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Position</label>
            <div class="col-sm-10">
                @Html.DisplayFor(model => model.Position)
            </div>
        </div>
        <div>


            <a asp-action="Edit" asp-route-id="@Model?.MenuId" class="btn btn-gradient-dark btn-icon-text">Sửa <i class="mdi mdi-file-check btn-icon-append"></i></a> |
            <a asp-action="Index" class="btn btn-gradient-primary btn-fw"> <i class="mdi mdi-arrow-left-bold-circle-outline"></i>Trở về</a>
        </div>

    </form>
</div>

