@model NHOM9WEB.Models.TbBlog

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div>
    <div class="card-body">
        <h1>Delete Blog</h1>

        <hr />

        <dl class="row">
            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Title)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Title)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Alias)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Alias)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Description)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Detail)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Detail)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Image)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Image)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.SeoTitle)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.SeoTitle)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.SeoDescription)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.SeoDescription)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.SeoKeywords)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.SeoKeywords)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.CreatedDate)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.CreatedDate)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.CreatedBy)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.CreatedBy)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.ModifiedDate)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.ModifiedDate)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.ModifiedBy)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.ModifiedBy)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.IsActive)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.IsActive)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.MenuId)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.MenuId)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Account)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Account.AccountId)
                </div>
            </div>

            <div class="form-group col-sm-6">
                <label class="col-sm-4 col-form-label">@Html.DisplayNameFor(model => model.Category)</label>
                <div class="col-sm-8">
                    @Html.DisplayFor(model => model.Category.CategoryId)
                </div>
            </div>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="BlogId" />
            <div class="form-group">
                <button type="submit" class="btn btn-danger">
                    <i class="mdi mdi-cup-off"></i> Delete
                </button>
                <a asp-action="Index" class="btn btn-gradient-primary btn-fw">
                    <i class="mdi mdi-arrow-left-bold-circle-outline"></i> Back to List
                </a>
            </div>
        </form>
    </div>
</div>
